In [30]:
names = ['John', 'Bob', 'Mosh', 'Sarah', 'Mary']

In [31]:
students =[
    {'name':'John','college':'Sky high','qualification':'Bachelors'},
    {'name':'Bob','college':'Sky high','qualification':'Masters'},
    {'name':'Mosh','college':'Sky high','qualification':'Bachelors'},
    {'name':'Sarah','college':'Sky high','qualification':'Bachelors'},
]

In [34]:
class Student:
   def __init__(self,name,college,qualification):
       self.name = name
       self.college = college
       self.qualification = qualification

   def __repr__(self):
       return self.name

In [35]:
stdObjs = [ 
    Student('Rohan','Sky high','Bachelors'),
    Student('Rahul','Sky high','Masters'),
    Student('Raj','Sky high','Bachelors'),
    Student('Ravi','Sky high','Bachelors')
]

In [36]:
students

[{'name': 'John', 'college': 'Sky high', 'qualification': 'Bachelors'},
 {'name': 'Bob', 'college': 'Sky high', 'qualification': 'Masters'},
 {'name': 'Mosh', 'college': 'Sky high', 'qualification': 'Bachelors'},
 {'name': 'Sarah', 'college': 'Sky high', 'qualification': 'Bachelors'}]

In [37]:
stdObjs

[Rohan, Rahul, Raj, Ravi]

In [58]:
class Triangle:
    def __init__(self, b=0, h=0):
        self.base = b
        self.height = h


    def area(self):
        return self.base * self.height/2
    
    
    def __repr__(self):
        return f'Triangle({self.area()})'

In [59]:
data = [Triangle(12,5), Triangle(10,5), Triangle(8,15), Triangle(6,25)]
data

[Triangle(30.0), Triangle(25.0), Triangle(60.0), Triangle(75.0)]

In [62]:
import os
class Reader:
    def __init__(self, path):
        if not os.path.exists(path):
            raise Exception('File does not exist')
        self.path = path
        self.content = self.read()
    def read(self):
        with open(self.path, 'r') as f:
            return f.read()
            
    def count_words(self):
        return len(self.content.split())
        
    def count_chars(self):
        return len(self.content)
        
    def __repr__(self):
        return self.content

In [63]:
r1 = Reader('nested.py')

Exception: File does not exist

In [4]:
class User:
    def _init_(self,name,age=21,gender='female'):
        self.name = age
        self.gender = gender

        def _repr_(self):
            return self.name

In [7]:
u1 = User('Shahid',23,'male')
u1

TypeError: User() takes no arguments

In [9]:
class Student(User):
    def _init_(self,nm,college,klass,rollno,age=21,gdr='female'):
        super()._init_(nm,age,gdr)
        self.college = college
        self.klass = klass
        self.rollno = rollno

        def info(self):
            print('Student details')
            print('Name:',self.name)
            print('Age:',self.age)
            print('College:',self.college)
            print('Class:',self.klass)
            print('Roll no:',self.rolno)
            print('*x*'*10)

In [11]:
s1 = Student('Sagar','bob','Msc','391200',age =25,gdr='male')
s1

TypeError: Student() takes no arguments

In [12]:
s1.info()

NameError: name 's1' is not defined

In [14]:
x=[1,2,3,4,5]
y=[10,20,30,40,50]

In [15]:
class MyList(list):
    def _mul_(self,other):
        output =[]
        for i,j in zip(self,other):
            output.append(i*j)
            return output
        
        def sum(self):
            return sum(self)
        
        def mean(self):
            return sum(self)/len(self)

In [16]:
x = MyList([1,2,3,4,5])
y = MyList([10,20,30,40,50])
x * y

TypeError: can't multiply sequence by non-int of type 'MyList'