# PYTHON BASICS

### level 01
- variables
- input output
- operator
- datatypes

### level 02
- conditional statements
 - if
 - ifelse
 - elif
 - match
- loops
 - for
 - while
- fuctions

### level 03
- string
- dict
- list
- set and tuple

> This is markdown

In [3]:
age=10
is_married = False 
name ='bob'
value = 1.323

In [8]:
X=10 ** 4299
print(X)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [9]:
X=1.10
Y=1.0
Z=-35.59
Z=87.7e100

In [11]:
name="bruce wayne 01"
color='yellow'
institute='digipodium'

In [12]:
name ='kaladin stormblessed'
place='uruthiru'

In [13]:
is_coding=True
is_fun=True
are_u_bored=False

In [14]:
x=None

In [18]:
a=[5,10,15,20,25,30,35,40]
vals=[1,2.2,'python']
colors=['red','green','yellow']

In [19]:
car_info={
    "brand":"ford",
    "model":"mustang",
    "year":1964}

# operators 
- arithmetic 
- assignment
- comparison
- bitwise
- membership
- identity
- logical

ARITHMETIC OPERATORS

In [21]:
x=(3+2)*(5*3)/(3*5)
print(x)

5.0

In [22]:
a=100 #a will get 100
a+=15 # add 15 to existing value of a
a-=10 # remove 10 from existing value of a

In [23]:
a*= 10 # multiply 10 with cureent value of a
a%= 5 #store remainder in a after divided current value by 5
print(a)

0

COMPARISON OPERATORS

In [ ]:
print(x>Y)
print(x<Y)
print(x==Y)
print(x!=Y)
print(x>=Y) 
print(x<=Y)

In [29]:
print(x>Y)
print(x<Y)
print(x==100)
print(x!=30)
print(x>=50) 
print(x<=20) 
print('hello'=="hellow")
print('hi'!="HI")
print("this" =='that')

True
False
False
True
False
True
False
True
False

In [1]:
a=15
b=20

In [2]:
a>10 and b>a

True

In [3]:
a<10 or b>10

True

any value other than 0 is true

In [5]:
bool(0) #true

False

empty string is taken as false

In [6]:
name=input("enter name :")
bool(name)

False

In [4]:
not a

False

membership operator 'in' and 'not in'

In [7]:
x=[3,56,67,89,23,67,21,278,231,212,6]

In [8]:
10 in x

False

In [9]:
67 in x

True

In [10]:
20 not in x

True

user input'input(prompt)'=>'string'

type casting -> convert one datatype to another

  int()  -> convert data into integer
   
  float() -> convert data into float

  str() -> convert data into string

  list() -> convert data into list

  tuple() -> convert data into tuple

  bool() -> convert data into boolean

  set() -> convert data into set
 
  dict() -> convert data into dictionary

In [11]:
int(10.1111)

10

In [13]:
int(True)

1

In [14]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [15]:
str(1010)

'1010'

In [16]:
print(int)

<class 'int'>

In [17]:
int('90')

90

# back to input function

In [18]:
name = input("enter ur name")
phone = input('enter ur contact:')
age = int(input('enter ur age:'))

wap to calc simple interest

In [23]:
p = int(input('PRINCIPLE AMT:'))
r = float(input('RATE OF INTEREST:'))
t = int(input('TIME IN YEARS:'))
si = p * r * t/100
print(si)

200.0

(TASK)WAP TO CALC AREA AND CIRCUMFERENCE OF CIRCLE USING DIAMETER AS INPUT

In [25]:
diameter=float(input("enter the diameter"))
radius=diameter/2
pi=3.14
area=str(pi*r*r)
circumference=str(2*pi*r)
print("the area is:" + area)
print ("the circumference is :"+ circumference)

the area is:78.5
the circumference is :31.400000000000002

 # Displaying information to user

In [26]:
y=input('your name:')
x=int(input('how many bagdes:'))
print(f'{y} got {x} badges')

kajal got 2 badges